<%- contentFor('page') %>

<h2><%= title %></h2>
<% if (band_list.length) { %>
<ul class="page-list">
  <% band_list.forEach(band => { %>
  <li><a href="<%= band.url %>"><%= band.name %></a> (<%= band.active_years %>)</li>
  <% }) %>
</ul>
<% } else { %>
<p>There are no bands.</p>
<%} %>