<%- contentFor('page') %>

<h2><%= title %></h2>

<form method="post">
  <div class="form-group">
    <label for="name">Name: </label>
    <input class="form-control" type="text" id="name" placeholder="Pastry" name="name" required value="<%= typeof category==='undefined' ? '' : category.name %>">
    <label for="description">Description: </label>
    <textarea rows="8" class="form-control" name="description" id="description" placeholder="Pastry is baked food made with a dough of flour, water, and shortening (solid fats, including butter or lard) that may be savoury or sweetened."><%= typeof category==='undefined' ? '' : category.description %></textarea>
  </div>
  <button class="form-submit" type="submit">Submit</button>
</form>
<% if (typeof errors!=='undefined') { %>
<ul>
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>