<%- contentFor('page') %>

<h2>Category: <%= category.name %></h2>
<p><%= category.description %></p>
<div class="detail-list">
  <h3>Products</h3>
  <% if (category_products.length) { %>
  <dl>
    <% category_products.forEach(product => { %>
    <dt>
      <a href="<%= product.url %>"><%= product.name %></a>
    </dt>
    <dd>
      <%= product.description %>
    </dd>
    <% }) %>
  </dl>
  <% } else { %>
  <p>This category has no products.</p>
  <% } %>
</div>
<hr>
<p>
  <a href="<%= category.url %>/delete">Delete Category</a>
</p>