<%- contentFor('page') %>

<h2>Category: <%= category.name %></h2>
<p><%= category.description %></p>
<div class="detail-list">
  <h3>Products</h3>
  <% if (products.length) { %>
  <dl>
    <% products.forEach(product => { %>
    <dt>
      <a href="/products/<%= product.id %>"><%= product.name %></a>
    </dt>
    <dd>
      <%= product.description %>
    </dd>
    <% }) %>
  </dl>
  <% } else { %>
  <p>This category has no products.</p>
  <% } %>
</div>
<hr>
<p>
  <a href="/categories/<%= category.id %>/update">Update Category</a>
</p>
<p>
  <a href="/categories/<%= category.id %>/delete">Delete Category</a>
</p>
