<%- contentFor('page') %>

<h2>Genre: <%= genre.name %></h2>
<div class="detail-list">
  <h3>Albums</h3>
  <% if (genre_albums.length) { %>
  <dl>
    <% genre_albums.forEach(album => { %>
    <dt>
      <a href="<%= album.url %>"><%= album.title %></a>
    </dt>
    <dd>
      <%= album.description %>
    </dd>
    <% }) %>
  </dl>
  <% } else { %>
  <p>This genre has no albums.</p>
  <% } %>
</div>