<%- contentFor('page')  %>

<h2><%= title %></h1>
  <p>Welcome to <em>Inventory Application</em>, a basic Express website built following the original <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website">local library MDN tutorial</a>.</p>
  <hr>
  <p>The inventory has the following record counts:</p>
  <ul>
    <li><strong>Albums: </strong> <%= album_count %></li>
    <li><strong>Bands: </strong><%= band_count %></li>
    <li><strong>Genres: </strong><%= genre_count %></li>
  </ul>