<%- contentFor('page') %>

<h2><%= title %>: <%= product.name %></h2>
<p>Do you really want to delete this Product?</p>
<form method="post">
  <div class="form-group">
    <input type="hidden" id="productId" class="form-control" name="productId" value="<%= product.id %>">
    <label for="password">Password: </label>
    <input class="form-control" type="password" required name="password" id="password" placeholder="Enter admin password">
  </div>
  <button type="submit" class="form-submit">Delete</button>
</form>
<% if (typeof errors!=='undefined') { %>
<ul class="errors-list">
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>