<%- contentFor('page') %>

<h2>Product: <%= product.name %></h2>
<p><strong>Description: </strong><%= product.description %></p>
<p><strong>Category: </strong><a href="/categories/<%= product.category_id %>"><%= product.category %></a></p>
<p><strong>Price: </strong>€<%= product.price %></p>
<% if (product.stock<=5) { %>
<p><strong>Stock: <span style="color: red;"><%= product.stock %></span></strong></p>
<% } else if (product.stock<=15) { %>
<p><strong>Stock: <span style="color: orange;"><%= product.stock %></span></strong></p>
<% } else { %>
<p><strong>Stock: <span style="color: green;"><%= product.stock %></span></strong></p>
<% } %>
<hr>
<p>
  <a href="/products/<%= product.id %>/update">Update Product</a>
</p>
<p>
  <a href="/products/<%= product.id %>/delete">Delete Product</a>
</p>
